@use './core/reset';

* {
    margin: 0;
    padding: 0;
}
:root {
    background-color: rgb(25, 25, 25);
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    letter-spacing: 0.5px;
}
    select, input, option{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;     
        }

//HEADER
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    img{width: 450px;}
}
    .filter {
        margin-top: 15px;
        background-color: goldenrod;
        padding: 4px;
        border-radius: 50px;
    }
        .info{
            background-color: rgb(73, 73, 73);
            height: 32px;
            border-color: goldenrod;
            border-width: 1px;
                color: goldenrod;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 12px;
                font-weight: bold;
        }
            .infoT{
                width: 210px;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
            }
            .infoBL{
                width: 105px;
                padding-left: 20px;
                border-bottom-left-radius: 50px;
            }
            .infoBR{
                width: 105px;
                padding-right: 15px;
                border-bottom-right-radius: 50px;
            }
                

//MAIN
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
    .card{
        background-color: rgb(73, 73, 73);
        width: 160px;
        margin: 20px;
        padding-bottom: 6px;
        h4{font-size: 15px;}
        p{font-size: 15px;}
    }
    .photo{
        img{width: 100%; height: 200px; object-fit: cover;}  
    }
        .no_magic {
            padding: 10%;
            img{width: 60%; margin:7.5%;}
        }

//CONDICONALS
.house_red {
  background-color: #500f0f;
}
.house_green {
  background-color: #104416;
}
.house_blue {
  background-color: #101341;
}
.house_yellow {
  background-color: #484407;
}

//PHONE
@media (max-width: 500px) {
  header{
    padding: 2%;
    img{width: 250px;}
    }
}
     