@use './core/reset';

* {
    margin: 0;
    padding: 0;
}
:root {
    background-color: rgb(25, 25, 25);
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    list-style-type: none;
    text-decoration: none;
    letter-spacing: 0.4px;
}
    select, input, option{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
        border: none;     
        }
    a{text-decoration: none; color: antiquewhite;}
    ul{list-style-type: none;}

//HEADER
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    img{width: 450px;}
}
    .filter {
        margin-top: 15px;
        background-color: goldenrod;
        padding: 4px;
        border-radius: 50px;
    }
        .info{
            background-color: rgb(73, 73, 73);
            height: 32px;
                color: goldenrod;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 12px;
                font-weight: bold;
        }
            .infoT{
                width: 220px;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
            }
            .infoBL{
                width: 110px;
                padding-left: 20px;
                border-bottom-left-radius: 50px;
            }
            .infoBR{
                width: 110px;
                padding-right: 15px;
                border-bottom-right-radius: 50px;
            }
            .infoNO{
                background-color: goldenrod;
                color:rgb(55, 55, 55);
                position: fixed;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                margin-inline: 1%;
                margin-block: 250px;
                border-radius: 50px;
                    font-weight: bolder;
                    font-size: 20px;
            }
                

//MAIN
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
    .card{
        background-color: rgb(73, 73, 73);
        width: 160px;
        margin: 20px;
        padding-bottom: 6px;
        h4{font-size: 15px; font-weight: 500;}
        p{font-size: 14px; text-transform: capitalize;}
    }
    .photo{
        img{width: 100%; height: 200px; object-fit: cover;}  
    }
        .no_magic {
            padding: 5%;
            img{width: 60%; margin:7.5%;}
        }

//CONDICONALS
.house_red {
    background-color: #481010;
}

.house_green {
    background-color: #0e3813;
}

.house_blue {
    background-color: #181a39;
}

.house_yellow {
    background-color: #4f4b08;
}

//DETAIL
.detail{
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    display: grid; 
    text-align: left;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    h2 {margin-left: 20px;}
    ul {margin-left: 50px;}
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18% 39% 38% 5%;
    grid-template-areas: 
    "photo name"
    "photo list"
    "photo more"
    "back back";
}
    .detail_photo{
        grid-area: photo;
        img{width: 100%; height: 300px; object-fit: cover; border-radius: 3px;}
    }
    .detail_name{
        grid-area: name;
    }
    .detail_list{
        grid-area: list;
    }
    .detail_more{
        grid-area: more;
    }
    .detail_back{
        grid-area: back;
    }
//PHONE
@media (max-width: 500px) {

    header {
        img {
            width: 250px;
        }
    }

    .infoNO {
        top: auto;
        bottom: 0;
        margin: 3%;
    }

    .detail{
        width: 75%;
        padding: 5px;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 7% 50% 20% 20% 3% ;
        grid-template-areas: 
        "name"
        "photo"
        "list"
        "more"
        "back";
        img{width: 90%; height: 90%;}
        h2 {margin-left: 0px;}
        ul {margin-left: 0px;}
}

}